@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");


.banner-image{
	background-image: url('images/wallpaper.jpeg');
	background-size: cover;
}

h1{
	text-align: center;
}

p{
	text-align: center;
}

h2{
	text-align: center;
}

span{
	color: royalblue;
	font-size: 25px;
	text-align: center;
}


/* Social Icons */
html {
    background: rgb(41, 41, 41);
    background: -moz-linear-gradient(
      180deg,
      rgba(41, 41, 41, 1) 0%,
      rgba(24, 30, 48, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(41, 41, 41, 1) 0%,
      rgba(24, 30, 48, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(41, 41, 41, 1) 0%,
      rgba(24, 30, 48, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#292929",endColorstr="#181e30",GradientType=1);
    height: 100%;
    width: 100%;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    list-style-type: none;
  }

.contact-links li {
    padding: 1rem;
}
  
.fab {
    font-size: 5rem;
}








